# FVM Version Cache
.fvm/

# Miscellaneous
.env
lib/env/env.g.dart
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/
*.env
Gemfile.lock
*.dSYM.zip
artifacts/
.vscode
.dart_tool
android/debug.properties
android/release.properties
android/app/debug.jks
android/app/release.jks

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode2v3
*.perspective3
!default.perspective3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
ObjectiveC.gcda
*.xcscmblue
node_modules/

# CocoaPods
Pods

# Fastlane
fastlane/README.md
fastlane/report.xml

.scannerwork
launch.json
